Session-ID AVP can be added more than once

Session-ID  AVP (263) in current implementation of Diameter base can be added more that once against

- the specification for Base Diameter (RFC 6733 sec. 8.8 https://tools.ietf.org/html/rfc6733): "All messages
   pertaining to a specific session MUST include only one Session-Id
   AVP, and the same value MUST be used throughout the life of a
   session."
- the Java doc for DiameterMessage interface:
http://docs.jboss.org/mobicents/jain-slee/2.4.1.FINAL/resources/diameter-base/javadoc/net/java/slee/resource/diameter/base/events/DiameterMessage.html#setSessionId(java.lang.String) :+1: 
    Throws:
        java.lang.IllegalStateException - if setSessionId has already been called

The fix will check first if the AVP is set and in that case it will overwrite the existing AVP value.
